html, body {
	color: #fff; 
	background-color: #00504d;
	margin: 0;
	padding: 0;
}

.container {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0 auto;
	max-width: 1280px;
	width: 80%;
}

header {
	border-bottom: 1px solid #fff;
	margin: 50px auto 20px auto;
}

section, footer {
	display: inline-block;
	width: 100%;
}

h1 {
	color: #fff;
	font-family: 'Arvo', sans-serif;
	font-size: 90px;
	font-weight: 300;
	letter-spacing: 4px;
	margin-bottom: 10px;
	margin: 0;
}

h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
	margin-top: 0;
}

a {
	color: #fff;
}

a:hover {
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

li {
	font-size: 22px;
	padding-bottom: 16px;
}

.social li {
	display: inline;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 0 20px;
}

.social li a {
	color: #fff;
	text-decoration: none;
}

.social li a:hover {
	font-weight: bold;
}

/* About
/*-----------------------*/
.about {
	margin-bottom: 10px;
}

.about span {
	color: #fff;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
}

/* Work
/*-----------------------*/
.work {
	margin: 25px 0 0 0;
}

.work a {
	color: #fff;
}

.work a:hover {
	font-weight: #bold;
}

.work span {
	font-style: italic;
	font-size: 16px;
	padding-left: 5px;
}

.work span a {
	font-style: normal;
	text-decoration: none;
}

/* Skills
/*-----------------------*/
.skills {
	margin: 25px 0 25px 0;
	color: #fff;
}

.skills span {
	font-style: italic;
	font-size: 16px;
	padding-left: 15px;
}


/* Footer
/*-----------------------*/
.copyright {
	border-top: 1px solid #fff;
	font-size: 14px;
	margin: 50px auto 20px auto;
	padding-top: 20px;
}

/* Media Queries
/*-----------------------*/
@media (max-width: 640px) {
	h1 {
		font-size: 50px;
	}

	h1 span {
		display: block;
	}

	.social span {
		padding: 0 4px;
	}
}

@media (max-width: 640px) and (orientation:landscape) {
	.info {
		padding-top: 100px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 90%;
	}

	.info {
		padding-top: 100px;
	}

	.social span {
		padding: 0 4px;
	}
}

/* Typed Cursor Effects
/*-----------------------*/

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}